body{
  padding: 30px;
  padding-top: 5px;
}
.container {
  margin: auto;
  max-width: 700px;
}

.done {
  text-decoration: line-through;
}

button{
  cursor: pointer;
}

ul {
  list-style: none;
  border: 0;
  padding: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 30px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

input {
  padding: 10px;
  font-size: 1.1rem;
  box-sizing: border-box;
}

.buttons::after {
  width: 40px;
}

.card {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.add-btn {
  padding: 10px 20px;
  font-size: 1.1rem;
  box-sizing: border-box;
  margin-left: 10px;
  outline: 0;
  border: 0;
  background-color: aqua;
  border-radius: 10px;
}

.add-btn:hover {
  background-color: darkblue;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addButton {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  background-color: aquamarine;
  border: none;
}

.addButton:hover {
  color: #FDFDFD;
  background-color: aqua;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.212);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardModal {
  padding: 20px;
  background-color: #FDFDFD;
}

.hide {
  display: none;
}